<div id='register-ticket'>
  <div id="ticket-wrapper">
    <mat-card id='ticket-header'>
      <h3> Ticket #: {{this.activeTicket+1}}</h3> <button mat-fab color="warn" (click)="deleteTicket()">Delete</button>
    </mat-card>

    <div *ngFor="let item of ticketsData.tickets[this.activeTicket]; index as i ">
        <mat-card class="ticket-item">
          <span class="ticket-item-header">
              {{item.name}} 
              <button mat-flat-button (click)="deleteItem(i)">delete</button>
          </span>
          <div class="ticket-item-contents">
            <span>{{item.amount?.length > 0 ? "Amount: "+item.amount : null}}</span>
            <span>{{item.options?.length > 0 ? "Options: "+item.options : null}}</span>
            <span>{{item.modifiers?.length > 0 ? "Modifiers: "+item.modifiers : null}}</span>
            <span>Total: {{item.total /100 | currency}}</span>
          </div>
        </mat-card>
    </div>
  </div>

  <mat-card id='totals'>
   <span> Subtotal: {{this.ticketsData.totals[activeTicket]['subtotal'] / 100 | currency }} </span> 
   <span> Tax: {{this.ticketsData.totals[activeTicket]['tax'] / 100 | currency }} </span> 
   <span> Total: {{this.ticketsData.totals[activeTicket]['total'] / 100 | currency }} </span> 
  </mat-card>

  <div id="ticket-select">
    <div *ngFor="let ticket of this.ticketsData.tickets; index as index">
      <button mat-flat-button class='ticket-tile' (click)="setActiveTicket(index)">{{index+1}}</button>
    </div>

    <button mat-flat-button color="primary" class="ticket-tile" (click)="addTicket()" alt="create new ticket">+</button>
  </div>

  <div id="ticket-control">
    <div>Split Ticket</div>
    <div (click)="checkout()" >Checkout</div>
    <div>Combine Tickets</div>
    <div>Discounts</div>
    <div>Customer Loyalty</div>
    <div>Custom Item</div>
  </div>

</div>