#register-ticket{
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    /* border: 1px solid slateblue; */
    background-color: #d6e4f0;
    height: fit-content;
}

#ticket-wrapper{
    align-content: flex-start;
    /* border:2px solid lightseagreen; */
    overflow: auto;
    height:57vh;
    width: 100%;
}

#totals{
    justify-content: space-evenly;
    display: flex;
    flex:1 100%;
    flex-direction: row;
    align-self: flex-end;
    /* border:2px solid brown; */
}

#ticket-select{
    display: flex;
    flex:1 100%;
    align-self: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    /* border:2px solid limegreen; */
}

#ticket-select div div{
    display: flex;
    background-color:purple;
    flex-direction: row; 
    justify-content: space-between;
}

#ticket-select button{
    margin-left: auto;
}

#ticket-control {
    height:fit-content;
    background-color:red;
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
}

#ticket-control > div {
    border:1px solid white;
    flex: 1;
    background:lightgreen;
    align-items: center; 
    width:6em;
    height:3em;
}

#ticket-header {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}

#ticket-header h3 {
    margin: .4rem 0;
}
  
#ticket-header button {
    margin-left:auto;
}

.ticket-tile{
    border:1px solid darkgray;
    padding: 0;
    max-width: 2.7em;
    max-height: 2.7em;
    min-height: 2.7em;
    min-width: 2.7em;
}

.ticket-item{
    margin-top: .2rem;
}

.ticket-item-header{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}

.ticket-item-header button{
    margin-left:auto;
}

.ticket-item-contents {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: nowrap;
}