<div id='register-ticket'>
  <div id="ticket-wrapper">
    <h3> ticket number {{this.activeTicket+1}}</h3><button (click)="deleteTicket()">delete</button>

    <div *ngFor="let item of ticketsData.tickets[this.activeTicket]; index as i ">
        <div id="ticketItem">
          {{item.name}} 
          Amount: {{item.amount}}
          Options: {{item.options}}
          Modifiers: {{item.modifiers}}
          Total: {{item.total}}
          <button (click)="deleteItem(i)">delete</button>
        </div>
    </div>
  </div>

  <div id='totals'>
    subtotal: {{this.ticketsData.totals[activeTicket]['subtotal']}}
    tax: {{this.ticketsData.totals[activeTicket]['tax']}}
    total: {{this.ticketsData.totals[activeTicket]['total']}}
  </div>

  <div id="ticket-select">
    <div *ngFor="let ticket of this.ticketsData.tickets; index as index">
      <div (click)="setActiveTicket(index)">{{index+1}}</div>
    </div>

    <button (click)="addTicket()" alt="create new ticket">+</button>
  </div>

  <div id="ticket-control">
    <div>Split Ticket</div>
    <div>Checkout</div>
    <div>Combine Tickets</div>
    <div>Discounts</div>
    <div>Customer Loyalty</div>
    <div>Custom Item</div>
  </div>

</div>